@model List<CarExplorer.Models.DTOs.CarMakeDto>

<div class="container mt-4">

    <h2>Car Makes</h2>

    <select id="makeSelect" class="form-select">
        <option value="">-- Select Make --</option>

        @foreach (var make in Model)
        {
            <option value="@make.Make_ID">
                @make.Make_Name
            </option>
        }

    </select>


    <h2 class="mt-4">Vehicle Types</h2>

    <select id="vehicleTypeSelect" class="form-select">
        <option value="">-- Select Type --</option>
    </select>

</div>


<script>

    document
        .getElementById("makeSelect")
        .addEventListener("change", function () {

            var makeId = this.value;

            if (!makeId) {
                return;
            }


            fetch(`/Home/GetVehicleTypes?makeId=${makeId}`)
                .then(response => response.json())
                .then(data => {

                    var typeSelect =
                        document.getElementById("vehicleTypeSelect");


                    typeSelect.innerHTML =
                        '<option value="">-- Select Type --</option>';


                    data.forEach(type => {

                        var option =
                            document.createElement("option");

                        option.value =
                            type.vehicleTypeId;

                        option.text =
                            type.vehicleTypeName;


                        typeSelect.appendChild(option);
                    });

                });

        });

</script>