@model List<CarExplorer.Models.DTOs.CarMakeDto>

<div class="container mt-4">

    <h2>Car Makes</h2>

    <select class="form-select">
        <option value="">-- Select Make --</option>

        @foreach (var make in Model)
        {
            <option value="@make.Make_ID">
                @make.Make_Name
            </option>
        }

    </select>

</div>